<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="UiVisualDebugger" Language="1033" Version="1.0.0.0" Manufacturer="Antigravity Team" UpgradeCode="e604e7b4-238a-4f3f-aaa5-a331f8f11e70" Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="UiVisualDebugger" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="UiVisualDebugger" />
    </StandardDirectory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="a1b2c3d4-e5f6-7890-abcd-ef1234567890">
        <File Id="UiVisualDebuggerExe" Source="$(var.UiVisualDebugger.TargetDir)UiVisualDebugger.exe" KeyPath="yes" />
        
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Directory="ApplicationProgramsFolder"
                  Name="UiVisualDebugger"
                  Description="Real-Time UI Visual Debugger &amp; Inspector"
                  Target="[INSTALLFOLDER]UiVisualDebugger.exe"
                  WorkingDirectory="INSTALLFOLDER" />

        <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="UiVisualDebugger" Type="string" Value="&quot;[INSTALLFOLDER]UiVisualDebugger.exe&quot;" />
        <RegistryValue Root="HKCU" Key="Software\UiVisualDebugger" Name="installed" Type="integer" Value="1" />
      </Component>
    </ComponentGroup>

    <Feature Id="ProductFeature" Title="UiVisualDebugger" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>
</Wix>
